@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// set variables
$almostBlack: #404040;
$almostWhite: #fafafa;
$almostBrown: #a15d2a;
$almostNavy: #314459;
$mainBackColor: linear-gradient(
    0deg,
    rgba(70, 49, 34, 0.38),
    rgba(70, 49, 34, 0.38)
  ),
  #314459;

$header1: 6rem;
$header1Laptop: 5rem;
$header1Mobile: 3rem;
$header2: 3rem;
$header2Tablet: 2.25rem;
$header3: 2rem;
$header3Mobile: 1.5rem;
$bodyFontSize: 1.5rem;
$bodyFontMobile: 1rem;
$FooterFontMobile: 1rem;

@mixin flex-row-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: $mainBackColor;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}

p {
  font-size: $bodyFontSize;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-padding-bottom {
  padding-bottom: 0.5rem;
}

// STYLES FOR MAIN WRAPPER
.main-padding {
  padding: 18px;
  background: #f7f7f7;
}

.secondary-container {
  width: 100%;
  height: 100%;
  background: $mainBackColor;
  // padding: 0 18px 0 0;
}

.third-container {
  max-width: 1200px;
  margin: 0 auto;
}

// STYLES FOR NAV BAR
nav {
  @include flex-row-sb();
  padding: 2rem 0;
}
.logo-container {
  width: 90px;
}
.logo {
  width: 46px;
}
.current {
  border-bottom: solid 2px $almostBrown;
}
.nav-links-container {
  @include flex-row-sb();
}
.link {
  font-weight: 500;
  color: $almostWhite;
  margin-right: 2rem;
}
.right-container {
  @include flex-row-sb();
  max-width: 25rem;
  width: 100%;
}

// STYLES FOR HEADER SECTION
header {
  @include flex-row-sb();
  padding: 10rem 0;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  h1 {
    color: $almostWhite;
    line-height: 115.5%;
    padding-bottom: 2.5rem;
  }
  h2 {
    color: $almostWhite;
    line-height: 115.5%;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-left: 0.2rem;
  }
}
.header-right {
  position: absolute;
  right: 0;
  top: 225px;
  background-color: $almostWhite;
  max-width: 793px;
  width: 100%;
  border-radius: 10px;
  .upper-level {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 2rem;
  }
  .lower-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    .devices {
      margin-top: -4rem;
    }
    .office-desk {
      margin-top: -8.65rem;
    }
  }
}
.header-cta-container {
  display: flex;
  justify-content: start;
  .vp-btn-container,
  .hire-btn-container {
    @include flex-center();
    width: 186px;
    height: 47px;
    background-color: $almostBrown;
    color: $almostWhite;
    filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
    border-radius: 10px;
    a {
      width: 100%;
      height: 100%;
      @include flex-center();
    }
  }
  .vp-btn-container {
    margin-right: 2.4rem;
  }
}
.period {
  color: $almostBrown;
  font-weight: 900;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 56.8px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $almostWhite;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: $almostBrown;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $almostBlack;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// STYLES FOR MAIN SECTION

// Styles for the sidebar

// STYLES FOR SKILLS SECTION
.skills-svg-container {
  width: 5rem;
  height: 5rem;
}

/*
STYLES FOR MY SKETCHBOOK SVG
*/
.svg-icon {
  width: 100%;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #404040;
}

.svg-icon circle {
  stroke: #314459;
  stroke-width: 1;
}

// STYLES FOR PROJECTS SECTION

// Styles for CTA Section

// STYLES FOR FOOTER AREA
footer {
  background-color: $almostNavy;
  color: $almostWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  align-items: center;
  min-height: 392px;
  padding-top: 90px;
  // margin-top: 50px;
  .footer-upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 396px;
  }
  .footer-logo {
    width: 66px;
  }
  .footer-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 187px;
    .footer-twitter-i,
    .footer-linkedin-i {
      width: 31.42px;
    }
    .footer-github-i,
    .footer-youtube-i {
      width: 37.41px;
    }
    @media screen and (max-width: 299px) {
      display: block;
    }
  }
}

.copyright,
.restate {
  text-align: center;
  width: 100%;
  padding: 0 5%;
  font-size: 0.95rem;
}

// MEDIA QUERIES

// TABLET
@media only screen and (max-width: 768px) {
  .hidden {
    display: block !important;
  }
  .nav-links-container {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    visibility: none !important;
  }
  .right-container {
    justify-content: right;
    width: 30rem;
  }
}
