@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// set variables
$almostBlack: #404040;
$almostWhite: #f7f7f7;
$almostBrown: #a15d2a;
$blueish: #42acc7;
$mainBackColor: #eaeaea;

$header1: 6.5rem;
$header2: 4.5rem;
$header3: 2.5rem;
$header4: 1.75rem;
$bodyFontSize: 1.2rem;
$bodyMobile: 1rem;
$smallFontSize: 1rem;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: $mainBackColor;
}

.main-border {
  border: solid 18px $almostWhite !important;
  height: 100%;
}

.bor-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-top: solid 18px $almostWhite !important;
}

.bor-bot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 18px $almostWhite !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: $bodyFontSize;
}

h1 {
  color: $almostBlack;
  font-size: $header1;
  padding: none;
  margin: 0;
}

h2 {
  color: $almostBlack;
  font-size: $header2;
  padding: none;
  margin: 0;
}

h3 {
  color: $almostBlack;
  font-size: $header3;
  font-weight: 400;
}

h4 {
  color: $almostBlack;
  font-size: $header4;
  font-weight: 400;
  padding: 2rem 0 0 0;
  margin: 0;
}

.hide {
  display: none !important;
}

.noShow {
  opacity: 0;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $almostWhite;
}

::-webkit-scrollbar-thumb {
  background-color: $blueish;
  border-radius: 10px;
}

/* Hide the menu by default */
.ham-nav-container {
  position: fixed;
  overflow: hidden;
  overflow-y: hidden;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  background-color: $mainBackColor;
  background-image: radial-gradient(
      at 80% 100%,
      $mainBackColor 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, $blueish 0px, transparent 50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ham-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    word-break: break-all;
    padding: 2rem 0 8rem 0;
    height: 100vh;
    width: 90%;
    font-size: 10vh;
    font-weight: 600;
    a {
      color: $almostBlack;
      text-decoration: none;
      @media only screen and (max-width: 478px) {
        font-size: 5rem;
      }
      @media only screen and (max-width: 375px) {
        font-size: 4.5rem;
      }
      @media only screen and (max-width: 330px) {
        font-size: 20vw;
      }
      @media only screen and (max-width: 230px) {
        font-size: 25vw;
      }
      @media only screen and (max-width: 180px) {
        font-size: 32vw;
      }
    }
  }
  .exit-btn {
    color: $blueish !important;
    filter: drop-shadow(0px 5px 9px rgba(240, 240, 240, 0.158));
    cursor: pointer;
  }
}

/* Add a dark overlay when the menu is active */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

// Banner Background Styles
.banner-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -2;
  background: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(to right, $mainBackColor, $almostBrown);
  // opacity: calc(50%);
}

// Main Wrapper Styles
.main-wrapper {
  max-width: 1066px;
  margin: 0 auto;
}

// Navigation Styles
header {
  margin: 25px 0 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  z-index: 10;
}
nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background: $almostWhite;
  filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.05));
  border-radius: 61px;
  animation: fade 0.8s ease normal forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.left-nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.middle-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  height: 68px; // remove later
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-logo-container {
  position: fixed;
  top: 4rem;
  left: 2.25rem;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 46px;
}

.nav-links {
  max-width: 339px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.1rem;
}

.nav-link {
  color: $almostBlack;
  font-weight: 500;
  &:hover {
    color: $almostBrown;
  }
}

.hamburger-container {
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  .hb-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hb-target {
    width: 50%;
  }
}

.abs-hamburger-container {
  position: fixed;
  top: 4rem;
  right: 2.25rem;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  .hb-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hb-target {
    width: 50%;
  }
}

// Banner / Hero Area Styles
.banner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 372px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.bc-outer-right-container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.bc-inner-right-container {
  width: 156px;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bc-right-target {
  width: 100%;
}

.developer-container {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 8rem;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    height: 100vh;
  }
  // @media only screen and (max-width: 375px) {
  //   margin-top: 3rem;
  // }
}

.me-name {
  margin: 0 0 0.5rem;
  padding: 0;
}

.huge {
  font-size: 7.5rem !important;
}

.me-name h1 {
  text-align: center;
  line-height: 0.9;
  margin-bottom: 0.5rem;
  letter-spacing: -0.03em;
  @media only screen and (max-width: 1024px) {
    font-size: 10vw !important;
  }
}

.developer {
  color: $blueish;
  font-weight: 900 !important;
  animation: devAnm 1s ease 0s 1 normal forwards;
}

@keyframes devAnm {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.developer h1 {
  letter-spacing: -0.03em;
  color: $blueish;
  line-height: 0.75;
  margin-bottom: 1.25rem;

  @media only screen and (max-width: 866px) {
    font-size: 10vw;
  }
  @media only screen and (max-width: 682px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 559px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 437px) {
    font-size: 2rem;
  }
}

.jd {
  width: 70%;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
  @media only screen and (max-width: 375px) {
    width: 100%;
  }
}

.jd p {
  text-align: center;
  font-size: $bodyFontSize;
  @media only screen and (max-width: 425px) {
    font-size: $bodyMobile;
  }
}

.vp-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.25rem 0 0 0;
  @media only screen and (max-width: 320px) {
    justify-content: center;
  }
}

.vp-container a {
  @media only screen and (max-width: 425px) {
    font-size: $bodyMobile;
  }
}

.vp-target {
  background: $blueish;
  color: $almostWhite;
  font-size: $bodyFontSize;
  max-width: 186px;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
}

.btn-animation {
  &:hover {
    background: $almostBrown;
    transition: all 0.2s ease-in-out;
  }
}

.down-container {
  position: absolute;
  width: 100%;
  height: 61px;
  top: 760px;
  left: 0;
  transform: translate(-50, -50);
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 425px) {
    display: none;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
}

.down-svg {
  position: relative;
}

.down-anm {
  -webkit-animation: down-anm 1.5s linear infinite both;
  animation: down-anm 1.5s linear infinite both;
}

@-webkit-keyframes down-anm {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes down-anm {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.bc-outer-left-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.bc-inner-left-container {
  width: 156px;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bc-left-target {
  width: 100%;
  transform: rotate(180deg);
}

// Styles for social container
.social-container {
  position: fixed;
  bottom: 18px;
  left: 2.25rem;
  width: 48px;
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.linkedin-container,
.github-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-line {
  width: 2px;
  height: 130px;
  border-radius: 50px;
  background: $blueish;
}

// Styles for Section Divider
.divider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 186px;
}

.divider-inner-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  max-width: 157px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles for About Me Section
.me-container {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 372px;
  @media only screen and (max-width: 425px) {
    margin-bottom: 12rem;
  }
}

.me-top-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: start;
  width: 100%;
  @media only screen and (max-width: 333px) {
    // flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.me-top-container h2 {
  width: 100%;
  // text-align: center;
  @media only screen and (max-width: 768px) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: 540px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 472px) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width: 402px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 346px) {
    font-size: 9vw;
  }
  // @media only screen and (max-width: 375px) {
  //   font-size: 2rem;
  // }
  // @media only screen and (max-width: 333px) {
  //   font-size: 1.8rem;
  //   text-align: center;
  // }
}

.me-bottom-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.me-left-container {
  width: 90%;
  padding: 1.5rem;
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 1.5rem 0;
  }
}

.stay-top {
  @media only screen and (max-width: 425px) {
    font-size: $bodyMobile;
  }
}

.bl-about {
  color: $blueish;
  font-weight: 700;
}

.inner-bottom {
  // position: relative;
  height: 1rem;
  width: 57%;
  padding: 0;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
  z-index: -1;
  background-color: $almostWhite;
  border-radius: 5px;
  @media only screen and (max-width: 964px) {
    width: 68%;
  }
  @media only screen and (max-width: 878px) {
    width: 78%;
  }
  @media only screen and (max-width: 770px) {
    width: 86%;
  }
  @media only screen and (max-width: 768px) {
    width: 66%;
  }
  @media only screen and (max-width: 730px) {
    width: 76%;
  }
  @media only screen and (max-width: 425px) {
    width: 90%;
  }
  @media only screen and (max-width: 333px) {
    background-color: $almostWhite;
    align-self: center;
    width: 90%;
  }
}

.hm-btn-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 2rem;
  @media only screen and (max-width: 425px) {
    justify-content: center;
  }
}

.hm-btn-container p {
  @media only screen and (max-width: 425px) {
    font-size: $bodyMobile;
  }
}

.hm-btn-target {
  background: $blueish;
  color: $almostWhite;
  font-size: $bodyFontSize;
  max-width: 186px;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
  cursor: pointer;
}

.hm-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.hm-target {
  width: 100%;
}

.me-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  padding: 1.5rem 1.5rem 0 0;
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 3rem 0 1rem 0;
  }
}

.me-right {
  @media only screen and (max-width: 425px) {
    width: 100%;
  }
}

// Styles for 2nd Section Divider
.divider-right-container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 186px;
}

// Styles for Technologies Section
.tech-container {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 372px;
  @media only screen and (max-width: 425px) {
    margin-bottom: 12rem;
  }
}

.tech-header-right {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

.tech-header-right h2 {
  width: 100%;
  // background-color: yellow;
  @media only screen and (max-width: 768px) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: 540px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 472px) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width: 402px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 346px) {
    font-size: 9vw;
  }
}

.tech-columns-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 3rem;
}

.tech-graphic-container {
  max-width: 50%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.t-circles {
  width: 100%;
}

.tech-targets-container {
  max-width: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 962px) {
    max-width: 80%;
  }
  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.lt-container {
  max-width: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg-container svg {
  width: 50%;
}

.mc-svg {
  width: 50%;
  filter: saturate(0);
}
.hs-img {
  width: 50%;
  border-radius: 2px;
}

.lt-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lt-name {
  @media only screen and (max-width: 425px) {
    font-size: $bodyMobile;
  }
}

// Styles for My Work Section
.work {
  margin-bottom: 186px;
  padding: 0 1rem;
}

// Work modal styles
.work-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.inner-modal {
  position: fixed;
  top: calc(50% - 450px);
  left: calc(50% - 400px);
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  z-index: 50;
  background-color: $almostWhite;
}

.work-header {
  width: 100%;
  padding-bottom: 3rem;
  h2 {
    @media only screen and (max-width: 768px) {
      font-size: 3.5rem;
    }
    @media only screen and (max-width: 540px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 472px) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 402px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 346px) {
      font-size: 9vw;
    }
  }
}

.wm-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  a {
    text-decoration: none;
    color: $blueish;
    font-weight: 700;
    cursor: pointer;
  }
}

.wm-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  h3 {
    margin: 0;
    padding: 0;
  }
}

.wm-subheader {
  width: 100%;
  margin: 0 0 1rem 0;
}

.wm-subheader h4 {
  margin: 0 !important;
  font-weight: 300;
  padding-top: 0;
}

.wm-id {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wm-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 500px; // remove later
  // background-color: $almostBlack;
  // overflow: hidden;
}

.wm-image-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wm-image-target {
  width: 50%;
}

.wm-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  // padding: 1rem 0;
}

.wm-tools {
  width: 100%;
  margin: 0;
}

.wm-links {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.wm-source-btn {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 25px 0 0 0;
}

.wm-live-btn {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 25px 0 0 0;
}

.wm-source {
  background: $almostBlack;
  color: $almostWhite;
  font-size: $bodyFontSize;
  max-width: 186px;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
}

.wm-live {
  background: $blueish;
  color: $almostWhite;
  font-size: $bodyFontSize;
  max-width: 186px;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
  margin-left: 2rem;
}

.work-subheader {
  width: fit-content;
  h3 {
    font-weight: 300 !important;
  }
}

.ed-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  @media only screen and (max-width: 918px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  @media only screen and (max-width: 702px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}

.ed-target-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // filter: drop-shadow(0px 5px 18px rgba(0, 0, 0, 0.07));
}

.ed-target-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prime-video-preview,
.walmart-preview,
.goodreads-preview,
.loudder-preview,
.square-preview,
.intuit-preview {
  width: 100%;
  border-radius: 10px;
}

// Styles for Web Development Section
.wd-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.wd-target-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wd-target-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.forval-preview,
.jj-preview {
  width: 100%;
  border-radius: 10px;
}

// Styles for Let's Work Together Section
.lwt-container {
  width: 100%;
  margin-bottom: 186px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.memoji-container {
  max-width: 156px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  width: 100%;
}

.lwt-header-container {
  max-width: 642px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    text-align: center;
    @media only screen and (max-width: 480px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 392px) {
      font-size: 1.5rem;
    }
  }
}

.lwt-message-container {
  max-width: 575px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  p {
    text-align: center;
    @media only screen and (max-width: 425px) {
      font-size: $bodyMobile;
    }
  }
}

#together {
  text-decoration: underline solid 5px $blueish;
}

.in-touch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin: 25px 0 0 0;
}

.in-touch-target {
  background: $blueish;
  color: $almostWhite;
  font-size: $bodyFontSize;
  max-width: 186px;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.14));
  @media only screen and (max-width: 425px) {
    font-size: $bodyMobile;
  }
}

// Styles for Footer
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.f-copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;
  p {
    text-align: center;
    @media only screen and (max-width: 425px) {
      font-size: $bodyMobile;
    }
  }
}

/* Media Queries */

@media only screen and (max-width: 1302px) {
  .social-container {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

// Media Queries for Laptop View
@media only screen and (max-width: 1024px) {
}
// Media Queries for Tablet View
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .left-nav {
    width: 100%;
  }
  .middle-nav {
    justify-content: right;
    width: fit-content;
    margin-left: 1.1rem;
  }
}
// Media Queries for Mobile View
@media only screen and (max-width: 425px) {
}
